body{
    min-height: 100vh;
  background:  center/cover ;
}
video {
    z-index: -1;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
}

/* .nav .home ul li{
    background-color: yellow;
}*/

/* .nav .home ul li a button:hover{
    background-color:rgba(245, 126, 0, 0.735);
}  */
button {
   color: black;
    border-radius: 20%;
    width: 100px;
    height: 49px;
    /* border-color: rgb(105, 93, 77); */
    border-color: darkorange;
    background-color: whitesmoke;
    cursor: pointer;
   
}

.nav {
    display: flex;
    font-family: cursive;
    border: solid;
    border-radius: 5% ;
    color: black;
   align-items: center;
   justify-content: space-between;
   background-color: aliceblue;
   opacity: 0.6;
    
}
.home {
    padding: 1rem;
    color: white;
   
    /* margin-left: 30REM; */
   
}
.logo {
    display: inline;
    text-align: right;
    font-size: x-large;
    /* margin-right: 24rem; */
    color:black;
}
.je {
    font-style: italic;
    color: coral;
    font-size: xx-large;
}
ul {
    padding: 8px;
    text-align: right;
    color: white;
}
li {
    display: inline;
    padding: 5px;
   margin-left: 2rem;
   box-shadow: 3px 3px 10px 1px rgba(3, 0, 0, 2),3px 3px 10px 4px rgba(4, 0, 0, 2),;
   opacity: none;
   color: white;
}
.presentation {
    display: inline;
    /* margin-right: 4rem; */
    font-family: cursive;
    font-size: xx-large;
    font-weight: lighter;
    padding: 4rem;
    color: white;
}
.p {
    text-align: center;
    margin-left:  16rem;
    font-style: italic;
    font-family: cursive;
    font-size: x-large;
    letter-spacing: 0.5cm;
    animation: color-change 3s ease-out infinite;
}
.pa{
    letter-spacing: 0.2cm;
   color: darkorange;
   font-style: italic; 
  font: optional;
}
.foot {
    font-family: cursive;
    font-size: medium;
    padding-bottom: 0px;
    margin: 0;
}
.body {
    display: inline;
    display: flex;
}
.animation {
    animation: fondu 30s ease-in-out infinite both;
   margin-right: 5rem;
   width: 35pc; 
   height: 80vh;  
   background-position: center;
   background-size:cover;
   border-radius: 3%;
   padding: 2rem;
   /* background-image: url(fig2.jpg); */
}
.corps {
   /* background-color: gainsboro; */
 padding-bottom: 60px;
}
footer{
    font-family: cursive;
    font-size: x-large;
    color: white;
}


@keyframes fondu{
    0%{
        background-image: url("pexels-thlil-2378138.jpg");
    }
    15% {
        background-image: url("pexels-omar-markhieh-1447254.jpg");
    }
    30% {
        background-image: url("pexels-sai-krishna-13387311.jpg");
    }
    45%{
        background-image: url("pexels-douglas-mendes-14666036.jpg");
    }
    60% {
        background-image: url("pexels-duophenom-2417848.jpg");
    }
    75%{
        background-image: url("pexels-irina-iriser-1647976.jpg");
    }
    88% {
        background-image: url("pexels-kolkatar-chobiwala-12957102.jpg");
    }
    100% {
        background-image: url("pexels-sai-krishna-13387311.jpg");
    }
}
@keyframes color-change {
    0% {
        color: white;
    }
    50%{
       color: goldenrod;
    }
    100%{
        color: cornflowerblue;
    }
}
@keyframes bounce {
    0% {
       
    }
    50%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(0.9);
    }
    
}











